
/***************************************************/
header{

  background-color: var(--color-esqueleto);
}
nav a{

  margin: 0 7.5px;  /* para poder centrar los container*/
  height: 100px;

}

.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;  /* para poder centrar los container*/
}

.cabecera
{
  padding: 35px 0;
  background: var(--clr);
}

.cabecera .menu
{
  display: inline-block;
  margin-left: 50%;
}
.cabecera .link_logo
{
  display: inline-block;
  vertical-align: middle;
  background: var(--clr-navbar);
  border-radius: 50%;
  transform: translateY(calc(-30px));

}
.icono2
{
  color: var( --clr);
}
.cabecera .menu ul li
{
  display: inline-block;
  vertical-align: middle;
}

  .navegacion{
      width: auto;
      height: 70px;
      background: var(--clr-navbar);
  }



/***************Texto del Narbar*******************/
  .navegacion ul li a .texto{
      color: #7a7a7a;
      display: flex;
  }



/***************************************************/
/***************************************************/
/***************************************************/
@media screen and (max-width: 1120px)
{
  .container{
      width:100%;
  }
  nav a{

      margin: 0 0;  /* para poder centrar los container*/
  }
  .cabecera .menu
{
  display: inline-block;
  margin-left: 5%;
}
  .cabecera .link_logo
  {
      transform: translateY(calc(0px));
      transform: translateX(calc(-10px));
      background: var(--clr-navbar);
  }

  .navegacion{
      position: relative;
      width: auto;
      height:70px;
      background: var(--clr-navbar);
      display: flex;
      justify-content: left;
      align-items: center;
      border-radius: 10px;
      /*right: 60px;
      bottom: 550px;*/

  }

  .navegacion ul{
      display: flex;
      width: 350px;
  }

  .navegacion ul li{
      position: relative;
      list-style: none;
      width: 70px;
      height: 70px;
      z-index: 1;
  }

  .navegacion ul li a{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      text-align: center;
  }

  .navegacion ul li a .icono{
      position: relative;
      display: block;
      line-height: 75px;
      font-size: 1.5em;
      text-align: center;
      transition: 0.5s;
      color: var(--clr);
  }

  .navegacion ul li.activada a .icono{
      transform: translateY(-20px);
  }

  .navegacion ul li a .texto{
      position: absolute;
      color: var(--clr);
      font-size: 0.75em;
      letter-spacing: 0.05em;
      transition: 0.5s;
      opacity: 0;
      transform: translateY(20px);
  }

  .navegacion ul li.activada a .texto{
      opacity: 1;
      transform: translateY(0px);
  }

  .navegacion ul li.activada a .icono{

      transform: translateY(-50px);
  }

  .indicador{
      position: absolute;
      width: 70px;
      height: 70px;
      background: var(--clr-icon);  /* redondel*/
      top: -50%;
      border-radius: 50%;
      border: 6px solid var(--clr);
      transition: 0.5s;
  }

  .indicador::before{
      content: "";
      position: absolute;
      top: 50%;
      left: -22px;
      width: 20px;
      height: 20px;
      background: transparent;
      border-top-right-radius: 20px;
      box-shadow: 1px -10px 0 0 var(--clr);
  }
  .indicador::after{
      content: "";
      position: absolute;
      top: 50%;
      right: -22px;
      width: 20px;
      height: 20px;
      background: transparent;
      border-top-left-radius: 20px;
      box-shadow: -1px -10px 0 0 var(--clr);
  }

  .navegacion ul li:nth-child(1).activada ~ .indicador{

      transform: translateX(calc(70px * 0));
  }

  .navegacion ul li:nth-child(2).activada ~ .indicador{

      transform: translateX(calc(70px * 1));
  }

  .navegacion ul li:nth-child(3).activada ~ .indicador{

      transform: translateX(calc(70px * 2));
  }

  .navegacion ul li:nth-child(4).activada ~ .indicador{

      transform: translateX(calc(70px * 3));
  }

  .navegacion ul li:nth-child(5).activada ~ .indicador{

      transform: translateX(calc(70px * 4));
  }

}



@media screen and (max-width: 800px)
{
  .container{
      width:100%;
  }
  nav a{

      margin: 0 0;  /* para poder centrar los container*/
  }
  .cabecera .menu
{
  display: inline-block;
  margin-left: 5%;
}
  .cabecera .link_logo
  {
      transform: translateY(calc(0px));
      transform: translateX(calc(-10px));
      background: var(--clr-navbar);
  }

  .navegacion{
      position: relative;
      width: auto;
      height:70px;
      background: var(--clr-navbar);
      display: flex;
      justify-content: left;
      align-items: center;
      border-radius: 10px;
      /*right: 60px;
      bottom: 550px;*/

  }

  .navegacion ul{
      display: flex;
      width: 350px;
  }

  .navegacion ul li{
      position: relative;
      list-style: none;
      width: 70px;
      height: 70px;
      z-index: 1;
  }

  .navegacion ul li a{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      text-align: center;
  }

  .navegacion ul li a .icono{
      position: relative;
      display: block;
      line-height: 75px;
      font-size: 1.5em;
      text-align: center;
      transition: 0.5s;
      color: var(--clr);
  }

  .navegacion ul li.activada a .icono{
      transform: translateY(-20px);
  }

  .navegacion ul li a .texto{
      position: absolute;
      color: var(--clr);
      font-size: 0.75em;
      letter-spacing: 0.05em;
      transition: 0.5s;
      opacity: 0;
      transform: translateY(20px);
  }

  .navegacion ul li.activada a .texto{
      opacity: 1;
      transform: translateY(0px);
  }

  .navegacion ul li.activada a .icono{

      transform: translateY(-50px);
  }

  .indicador{
      position: absolute;
      width: 70px;
      height: 70px;
      background: var(--clr-icon);  /* redondel*/
      top: -50%;
      border-radius: 50%;
      border: 6px solid var(--clr);
      transition: 0.5s;
  }

  .indicador::before{
      content: "";
      position: absolute;
      top: 50%;
      left: -22px;
      width: 20px;
      height: 20px;
      background: transparent;
      border-top-right-radius: 20px;
      box-shadow: 1px -10px 0 0 var(--clr);
  }
  .indicador::after{
      content: "";
      position: absolute;
      top: 50%;
      right: -22px;
      width: 20px;
      height: 20px;
      background: transparent;
      border-top-left-radius: 20px;
      box-shadow: -1px -10px 0 0 var(--clr);
  }

  .navegacion ul li:nth-child(1).activada ~ .indicador{

      transform: translateX(calc(70px * 0));
  }

  .navegacion ul li:nth-child(2).activada ~ .indicador{

      transform: translateX(calc(70px * 1));
  }

  .navegacion ul li:nth-child(3).activada ~ .indicador{

      transform: translateX(calc(70px * 2));
  }

  .navegacion ul li:nth-child(4).activada ~ .indicador{

      transform: translateX(calc(70px * 3));
  }

  .navegacion ul li:nth-child(5).activada ~ .indicador{

      transform: translateX(calc(70px * 4));
  }

}

@media screen and (max-width: 700px)
{
  .container{
      width:100%;
  }
  nav a{

      margin: 0 0;  /* para poder centrar los container*/
  }
  .cabecera .menu
  {
    display: inline-block;
    margin-left: -40;
  }
  .cabecera .link_logo
  {
      transform: translateY(calc(0px));
      transform: translateX(calc(0px));
      background: var(--clr-navbar);
  }

  .navegacion{
      position: relative;
      width: auto;
      height:70px;
      background: var(--clr-navbar);
      display: flex;
      justify-content: left;
      align-items: center;
      border-radius: 10px;
      /*right: 60px;
      bottom: 550px;*/

  }

  .navegacion ul{
      display: flex;
      width: 350px;
  }

  .navegacion ul li{
      position: relative;
      list-style: none;
      width: 70px;
      height: 70px;
      z-index: 1;
  }

  .navegacion ul li a{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      text-align: center;
  }

  .navegacion ul li a .icono{
      position: relative;
      display: block;
      line-height: 75px;
      font-size: 1.5em;
      text-align: center;
      transition: 0.5s;
      color: var(--clr);
  }

  .navegacion ul li.activada a .icono{
      transform: translateY(-20px);
  }

  .navegacion ul li a .texto{
      position: absolute;
      color: var(--clr);
      font-size: 0.75em;
      letter-spacing: 0.05em;
      transition: 0.5s;
      opacity: 0;
      transform: translateY(20px);
  }

  .navegacion ul li.activada a .texto{
      opacity: 1;
      transform: translateY(0px);
  }

  .navegacion ul li.activada a .icono{

      transform: translateY(-50px);
  }

  .indicador{
      position: absolute;
      width: 70px;
      height: 70px;
      background: var(--clr-icon);  /* redondel*/
      top: -50%;
      border-radius: 50%;
      border: 6px solid var(--clr);
      transition: 0.5s;
  }

  .indicador::before{
      content: "";
      position: absolute;
      top: 50%;
      left: -22px;
      width: 20px;
      height: 20px;
      background: transparent;
      border-top-right-radius: 20px;
      box-shadow: 1px -10px 0 0 var(--clr);
  }
  .indicador::after{
      content: "";
      position: absolute;
      top: 50%;
      right: -22px;
      width: 20px;
      height: 20px;
      background: transparent;
      border-top-left-radius: 20px;
      box-shadow: -1px -10px 0 0 var(--clr);
  }

  .navegacion ul li:nth-child(1).activada ~ .indicador{

      transform: translateX(calc(70px * 0));
  }

  .navegacion ul li:nth-child(2).activada ~ .indicador{

      transform: translateX(calc(70px * 1));
  }

  .navegacion ul li:nth-child(3).activada ~ .indicador{

      transform: translateX(calc(70px * 2));
  }

  .navegacion ul li:nth-child(4).activada ~ .indicador{

      transform: translateX(calc(70px * 3));
  }

  .navegacion ul li:nth-child(5).activada ~ .indicador{

      transform: translateX(calc(70px * 4));
  }

}
