<div class="grid">

  <!-- Information -->
  <section class="main">
      <!-- Home -->
      <div class="grid home">

      <!-- Projects -->
      <a name="Projects"></a>
      <div class="projects">
          <div class="projects__text">
              <p class="text__title">Proyectos</p>
              <p class="text__general">
                Actualmente estoy trabajando en algunos de estos proyectos, y estoy disponible para trabajar en otros proyectos.
                Si estás interesado en alguno de ellos o en trabajar conmigo, ponte en contacto conmigo.
              </p>
          </div>
          <div class="projects__apps">
              <!-- Landing Page, Arduino Day -->
              <div class="apps__ind">
                  <div class="app__image">
                      <img src="assets/img/arduino-day_logo.svg" class="ind-image" alt="Arduino Day 2021" loading="lazy">
                  </div>
                  <div class="app__desc">
                      <a href="https://arduinodayags.com/" class="ind-title" target="_blank">
                          Arduino Day <br>
                      </a>
                          <a href="https://github.com/ElectronicCats/arduino-day-aguascalientes2021" target="_blank"><i class="fab fa-git-alt"></i></a>
                          <p class="ind-description">Landing page to show the most relevant data about the Arduino day.</p>
                  </div>
              </div>
              <!-- Discord bot -->
              <div class="apps__ind">
                  <div class="app__image">
                      <img src="assets/img/discord-bot_logo.svg" class="ind-image" alt="Discord Bot" loading="lazy">
                  </div>
                  <div class="app__desc">
                      <a href="https://github.com/BeelanMX/scrapCFEBot" class="ind-title" target="_blank">
                          Discord Bot <br>
                      </a>
                          <a href="https://github.com/BeelanMX/scrapCFEBot" target="_blank"><i class="fab fa-git-alt"></i></a>
                          <p class="ind-description">Bot that collects data from the CFE's page and show it in a message.</p>
                  </div>
              </div>
              <!-- QuickTrips -->
              <div class="apps__ind">
                  <div class="app__image">
                      <img src="assets/img/quick-trips_logo.svg" class="ind-image" alt="Quick Trips" loading="lazy">
                  </div>
                  <div class="app__desc">
                      <a href="https://quick-trips.herokuapp.com/" class="ind-title" target="_blank">
                          Quick Trips <br>
                      </a>
                          <a href="https://github.com/tris460/quickTripsApp" target="_blank"><i class="fab fa-git-alt"></i></a>
                          <p class="ind-description">University final project to simulate how Uber works (still in progress).</p>
                  </div>
              </div>
              <!-- Personal Portfolio -->
              <div class="apps__ind">
                  <div class="app__image">
                      <img src="assets/img/favicon.svg" class="ind-image" alt="Portfolio" loading="lazy">
                  </div>
                  <div class="app__desc">
                      <a class="ind-title">
                          This portfolio <br>
                      </a>
                          <a href="https://github.com/tris460/BeatrizMartinez" target="_blank"><i class="fab fa-git-alt"></i></a>
                          <p class="ind-description">Personal portfolio to show my projects to others (still in progress).</p>
                  </div>
              </div>
          </div>
      </div>

      </div>
  </section>
</div>
