<div class="grid">

  <!-- Information -->
  <section class="main">
      <!-- Home -->


      <!-- Projects -->
      <a name="Projects"></a>
      <div class="projects">
          <div class="projects__text">
              <p class="text__title">Proyectos</p>
              <p class="text__general">
                Actualmente estoy trabajando en algunos de estos proyectos, y estoy disponible para trabajar en otros proyectos.
                Si estás interesado en alguno de ellos o en trabajar conmigo, ponte en contacto conmigo.
              </p>
          </div>
          <div class="projects__apps">
              <!-- Landing Page, Arduino Day -->
              <div class="apps__ind">
                  <div class="app__image">
                      <img src="assets/img/arduino-day_logo.svg" class="ind-image" alt="Arduino Day 2021" loading="lazy">
                  </div>
                  <div class="app__desc">
                      <a href="https://arduinodayags.com/" class="ind-title" target="_blank">
                          Arduino <br>
                      </a>
                          <a href="https://github.com/gastonloco/Solucion_Arduino_N1" target="_blank"><i class="fab fa-git-alt"></i></a>
                          <p class="ind-description">Transmision y recepcion de datos por puerto USB utilizando Arduino y C#</p>
                  </div>
              </div>
              <!-- Discord bot -->
              <div class="apps__ind">
                  <div class="app__image">
                      <img src="assets/img/discord-bot_logo.svg" class="ind-image" alt="Discord Bot" loading="lazy">
                  </div>
                  <div class="app__desc">
                      <a href="https://github.com/BeelanMX/scrapCFEBot" class="ind-title" target="_blank">
                          Libreria IPEM 174 <br>
                      </a>
                          <a href="https://github.com/gastonloco/LibreriaIPEM" target="_blank"><i class="fab fa-git-alt"></i></a>
                          <p class="ind-description">Sistema de biblioteca, registro y seguimiento de libros.</p>
                  </div>
              </div>
              <!-- QuickTrips -->
              <div class="apps__ind">
                  <div class="app__image">
                      <img src="assets/img/quick-trips_logo.svg" class="ind-image" alt="Quick Trips" loading="lazy">
                  </div>
                  <div class="app__desc">
                      <a href="https://quick-trips.herokuapp.com/" class="ind-title" target="_blank">
                          Desafio Técnico <br>
                      </a>
                          <a href="https://github.com/gastonloco/Desafio" target="_blank"><i class="fab fa-git-alt"></i></a>
                          <p class="ind-description">Para registrar la suscripción, se visualizaran todos los datos, en modo lectura, y al aceptar se efectuará la operación con la fecha actual.</p>
                  </div>
              </div>
              <!-- Personal Portfolio -->
              <div class="apps__ind">
                  <div class="app__image">
                      <img src="assets/img/favicon.svg" class="ind-image" alt="Portfolio" loading="lazy">
                  </div>
                  <div class="app__desc">
                      <a class="ind-title">
                          Sistema de Venta Mg ALarmas <br>
                      </a>
                          <a href="https://github.com/PPROF2-2022ProgWeb/g05-aula2-gestiondesposito-g05" target="_blank"><i class="fab fa-git-alt"></i></a>
                          <p class="ind-description">El sistema será un producto diseñado para trabajar en entornos WEB, lo que facilita la manera de trabajar, manejando la facturación y el inventario del mismo, manejo de proveedores. también como punto importante tendrá un control de stock y estará vinculado con la tienda virtual realizando los cambios correspondientes.</p>
                  </div>
              </div>
          </div>
      </div>


  </section>
</div>
