<div class="grid">

  <!-- Information -->
  <section class="main">
      <!-- Home -->
      <div class="grid home">
          <!-- General -->
          <div class="general" id="perfil">
              <p class="general__greet">Mi nombre es</p>
              <div class="wrapper">
                  <div class="typing-demo">
                    <p>Ferreyra Castro Gastón..</p>
                  </div>
              </div>
              <p class="general__career">Estudiante de Desarrollo de Software y Desarrolo web.</p>
              <p class="general__description">
                Soy desarrollador de software y me pasatiempos es la electronica.
                Durante mucho tiempo vengo capacitando e incorporando tecnologias nuevas.
                Estoy descubriendo el área donde quiero trabajar, me apasionan cosas diferentes.
              </p>
              <p>¿Quieres saber más acerca de mí? <a download href="assets/docum/CV Ferreyra Gaston.pdf">Descargar mi currículum vitae.</a></p>
          </div>
          <div class="picture">
              <img src="assets/img/gaston.jpg" class="picture__profile" alt="Ferreyra Castro Gastón" loading="lazy">
          </div>
          <!-- Links -->
          <div class="links">
              <p>Contáctame en:</p>
              <a href="https://www.facebook.com/profile.php?id=100053700782128" class="contact__text" target="_blank">
                <img src="assets/img/facebook_icon.svg" class="link__ico" alt="Facebook Icon" loading="lazy">
              </a>
              <a href="https://github.com/gastonloco" class="contact__text" target="_blank">
                <img src="assets/img/github_icon.svg" class="link__ico" alt="GitHub Icon" loading="lazy">
              </a>
              <a href="https://www.linkedin.com/in/gast%C3%B3n-ferreyra-372486210/" class="contact__text" target="_blank">
                <img src="assets/img/linkedin_icon.svg" class="link__ico" alt="LinkedIn Icon" loading="lazy">
              </a>
          </div>
      </div>


  </section>
</div>
