<div class="grid">

  <!-- Information -->
  <section class="main">
      <!-- Home -->

          <div class="about__info">
              <p class="subtitle">Technologies</p>
              <div>
                <img src="assets/img/html_icon.svg" class="icon" alt="HTML" loading="lazy">
                <img src="assets/img/css_icon.svg" class="icon" alt="CSS" loading="lazy">
                <img src="assets/img/js_icon.svg" class="icon" alt="JavaScript" loading="lazy">
                <img src="assets/img/typescript_icon.svg" class="icon" alt="TypeScript" loading="lazy">
                <img src="assets/img/git_icon.svg" class="icon" alt="Git" loading="lazy">
                <img src="assets/img/github_icon.svg" class="icon" alt="GitHub" loading="lazy">
                <img src="assets/img/angular_icon.svg" class="icon" alt="Angular" loading="lazy">
                <img src="assets/img/terminal_icon.svg" class="icon" alt="Terminal" loading="lazy">
              </div>
          </div>

  </section>
</div>
