*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --color-esqueleto:#916BBF;
  --clr: #1C0C5B;
  --clr-navbar: #F5F0BB;
  --clr-icon: #916BBF;
  --color-cuerpo: #3D2C8D;
  --black: #916BBF;
  --menu-color: #dfeaf6;
  --main-text-color: #F5F0BB;
}

body{

 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background: var(--clr);
 font-family: 'Kodchasan', sans-serif;
}
a{
  display: inline-block; /* para que me respete el ancho del height*/
}

p {
  color: var(--main-text-color);
}



