<div class="grid">

  <!-- Information -->
  <section class="main">
      <!-- Home -->
      <div class="grid home">
          <!-- General -->
          <div class="general">
              <p class="general__greet">Mi nombre es</p>
              <div class="wrapper">
                  <div class="typing-demo">
                    <p>Ferreyra Castro Gastón..</p>
                  </div>
              </div>
              <p class="general__career">Estudiante de Desarrollo de Software y Desarrolo web.</p>
              <p class="general__description">
                Soy desarrollador de software y me pasatiempos es la electronica.
                Durante mucho tiempo vengo capacitando e incorporando tecnologias nuevas.
                Estoy descubriendo el área donde quiero trabajar, me apasionan cosas diferentes.
              </p>
              <p>¿Quieres saber más acerca de mí? <a download href="assets/docum/CV Ferreyra Gaston.pdf">Descargar mi currículum vitae.</a></p>
          </div>
          <div class="picture">
              <img src="assets/img/gaston.jpg" class="picture__profile" alt="Ferreyra Castro Gastón" loading="lazy">
          </div>
          <!-- Links -->
          <div class="links">
              <p>Contáctame en:</p>
              <a href="https://www.facebook.com/profile.php?id=100053700782128" class="contact__text" target="_blank">
                <img src="assets/img/facebook_icon.svg" class="link__ico ico1" alt="Facebook Icon" loading="lazy">
              </a>
              <a href="https://github.com/gastonloco" class="contact__text" target="_blank">
                <img src="assets/img/github_icon.svg" class="link__ico ico2" alt="GitHub Icon" loading="lazy">
              </a>
              <a href="https://www.linkedin.com/in/gast%C3%B3n-ferreyra-372486210/" class="contact__text" target="_blank">
                <img src="assets/img/linkedin_icon.svg" class="link__ico ico3" alt="LinkedIn Icon" loading="lazy">
              </a>
          </div>
      </div>
      <!-- Projects -->
      <a name="Projects"></a>
      <div class="projects">
          <div class="projects__text">
              <p class="text__title">Proyectos</p>
              <p class="text__general">
                Actualmente estoy trabajando en algunos de estos proyectos, y estoy disponible para trabajar en otros proyectos.
                Si estás interesado en alguno de ellos o en trabajar conmigo, ponte en contacto conmigo.
              </p>
          </div>
          <div class="projects__apps">
              <!-- Landing Page, Arduino Day -->
              <div class="apps__ind">
                  <div class="app__image">
                      <img src="assets/img/arduino-day_logo.svg" class="ind-image" alt="Arduino Day 2021" loading="lazy">
                  </div>
                  <div class="app__desc">
                      <a href="https://arduinodayags.com/" class="ind-title" target="_blank">
                          Arduino <br>
                      </a>
                          <a href="https://github.com/gastonloco/Solucion_Arduino_N1" target="_blank"><i class="fab fa-git-alt"></i></a>
                          <p class="ind-description">Transmision y recepcion de datos por puerto USB utilizando Arduino y C#</p>
                  </div>
              </div>
              <!-- Discord bot -->
              <div class="apps__ind">
                  <div class="app__image">
                      <img src="assets/img/discord-bot_logo.svg" class="ind-image" alt="Discord Bot" loading="lazy">
                  </div>
                  <div class="app__desc">
                      <a href="https://github.com/BeelanMX/scrapCFEBot" class="ind-title" target="_blank">
                          Libreria IPEM 174 <br>
                      </a>
                          <a href="https://github.com/gastonloco/LibreriaIPEM" target="_blank"><i class="fab fa-git-alt"></i></a>
                          <p class="ind-description">Sistema de biblioteca, registro y seguimiento de libros.</p>
                  </div>
              </div>
              <!-- QuickTrips -->
              <div class="apps__ind">
                  <div class="app__image">
                      <img src="assets/img/quick-trips_logo.svg" class="ind-image" alt="Quick Trips" loading="lazy">
                  </div>
                  <div class="app__desc">
                      <a href="https://quick-trips.herokuapp.com/" class="ind-title" target="_blank">
                          Desafio Técnico <br>
                      </a>
                          <a href="https://github.com/gastonloco/Desafio" target="_blank"><i class="fab fa-git-alt"></i></a>
                          <p class="ind-description">Para registrar la suscripción, se visualizaran todos los datos, en modo lectura, y al aceptar se efectuará la operación con la fecha actual.</p>
                  </div>
              </div>
              <!-- Personal Portfolio -->
              <div class="apps__ind">
                  <div class="app__image">
                      <img src="assets/img/favicon.svg" class="ind-image" alt="Portfolio" loading="lazy">
                  </div>
                  <div class="app__desc">
                      <a class="ind-title">
                          Sistema de Venta Mg ALarmas <br>
                      </a>
                          <a href="https://github.com/PPROF2-2022ProgWeb/g05-aula2-gestiondesposito-g05" target="_blank"><i class="fab fa-git-alt"></i></a>
                          <p class="ind-description">El sistema será un producto diseñado para trabajar en entornos WEB, lo que facilita la manera de trabajar, manejando la facturación y el inventario del mismo, manejo de proveedores. también como punto importante tendrá un control de stock y estará vinculado con la tienda virtual realizando los cambios correspondientes.</p>
                  </div>
              </div>
          </div>
      </div>
      <!-- About -->
      <a name="About"></a>
      <div class="about">
          <div class="projects__text">
              <p class="text__title">Sobre mi.</p>
              <br>
              <br>
              <p class="text__general">
                Soy estudiante de Desarrollo de Software Multiplataforma, me encanta programar y aprender cosas nuevas,
                También me gusta demostrar mis habilidades haciendo cosas diferentes, siempre buscando aprender cosas nuevas,
              </p>
                  <br>
              <p class="text__general">
                  Mi objetivo es convertirme en un buen desarrollador, conseguir un trabajo y trabajar en lo que disfruto,
                  poder demostrar todo tipo de objetivos a realizar, no voy a parar hasta que suceda.
              </p>
              <br>
              <br>
          </div>
          <div class="about__info">
              <p class="subtitle">Technologies</p>
              <div>
                  <img src="assets/img/html_icon.svg" class="icon" alt="HTML" loading="lazy">
                  <img src="assets/img/css_icon.svg" class="icon" alt="CSS" loading="lazy">
                  <img src="assets/img/js_icon.svg" class="icon" alt="JavaScript" loading="lazy">
                  <img src="assets/img/typescript_icon.svg" class="icon" alt="TypeScript" loading="lazy">
                  <img src="assets/img/git_icon.svg" class="icon" alt="Git" loading="lazy">
                  <img src="assets/img/github_icon.svg" class="icon" alt="GitHub" loading="lazy">
                  <img src="assets/img/angular_icon.svg" class="icon" alt="Angular" loading="lazy">
                  <img src="assets/img/terminal_icon.svg" class="icon" alt="Terminal" loading="lazy">
              </div>
          </div>
      </div>
  </section>
</div>
