<main>
  <section id="perfil">
      <div class="container">
          <div class="fila">
              <div class="columna">
              <h1>Ferreyra Gastón</h1>
              <br><br><br>
              <a href="#" class="button">Descargar Perfil</a>
              </div>
          </div>
      </div>
  </section>
  <section id="mensaje">
      <div class="container">
          <div class="fila">
              <div class="columna">
              <h1>Mensaje</h1>
              <br><br><br>
              <a href="#" class="button">Descargar Mensaje</a>
              </div>
          </div>
      </div>
  </section>
  <section id="skill">
      <div class="container">
          <div class="fila">
              <div class="columna">
              <h1>Habilidades</h1>
              <br>
              <div class="div_skill1">
                  <h1>Frontend</h1>
                  <ul>
                      <li>
                          <span class="icono">
                            <i class="fa-solid fa-radiation"></i>
                          </span>
                          <span class="texto">Html</span>
                      </li>
                      <li>
                          <span class="icono">
                            <i class="fa-solid fa-radiation"></i>
                          </span>
                          <span class="texto">CSS</span>
                      </li>
                      <li>
                          <span class="icono">
                            <i class="fa-solid fa-radiation"></i>
                          </span>
                          <span class="texto">JavaScript</span>
                      </li>
                      <li>
                          <span class="icono">
                            <i class="fa-solid fa-radiation"></i>
                          </span>
                          <span class="texto">Jquery</span>
                      </li>
                      <li>
                          <span class="icono">
                            <i class="fa-solid fa-radiation"></i>
                          </span>
                          <span class="texto">Bootstrap</span>
                      </li>

                      <li>
                          <span class="icono">
                            <i class="fa-solid fa-radiation"></i>
                          </span>
                          <span class="texto">Angular</span>
                      </li>

                      <li>
                          <span class="icono">
                            <i class="fa-solid fa-radiation"></i>
                          </span>
                          <span class="texto">Git / Github</span>
                      </li>
                  </ul>
              </div>

              <div class="div_skill2">
                  <h1>Backend</h1>

                  <ul>
                      <li>
                          <span class="icono">
                            <i class="fa-solid fa-radiation"></i>
                          </span>
                          <span class="texto">NodeJS</span>
                      </li>
                      <li>
                          <span class="icono">
                            <i class="fa-solid fa-radiation"></i>
                          </span>
                          <span class="texto">Express</span>
                      </li>

                  </ul>
              </div>
              </div>
          </div>
      </div>
  </section>
  <section id="contacto">
      <div class="container">
          <div class="fila">
              <div class="columna">
              <h1>Contacto</h1>
              <br><br><br>
              <form action="">

                  <label for="username">Nombre: </label>
                  <input type="text" id="nombre" name="nombre" required>

                  <label for="username">Apellido: </label>
                  <input type="text" id="apellido" name="apellido" required>

                  <label for="phone">Cel: </label>
                  <input type="tel" id="phone" name="phone"
                  placeholder="351-4567825"
                  pattern="[0-9]{3}-[0-9]{7}">

                  <label for="datemax">Edad: </label>
                  <input type="date" id="datemax" name="datemax" max="2000-12-31"><br><br>

                  <label for="sexo">Sexo: </label>
                  <select id="sexo" name="sexo">
                  <option value="-"></option>
                  <option value="hombre">M</option>
                  <option value="femenino">F</option>
                  </select>



                  <a href="#" class="button">Enviar</a>
              </form>

              </div>
          </div>
      </div>
  </section>
</main>


