<div class="grid">

  <!-- Information -->
  <section class="main">

      <!-- About -->
      <a name="About"></a>
      <div class="about">
          <div class="projects__text">
              <p class="text__title">Sobre mi.</p>
              <br>
              <br>
              <p class="text__general">
                Soy estudiante de Desarrollo de Software Multiplataforma, me encanta programar y aprender cosas nuevas,
                También me gusta demostrar mis habilidades haciendo cosas diferentes, siempre buscando aprender cosas nuevas,
              </p>
                  <br>
              <p class="text__general">
                  Mi objetivo es convertirme en un buen desarrollador, conseguir un trabajo y trabajar en lo que disfruto,
                  poder demostrar todo tipo de objetivos a realizar, no voy a parar hasta que suceda.
              </p>
              <br>
              <br>
          </div>

      </div>
  </section>
</div>
